<br>
<h3>More Information on this Track Record</h3>
<div class="records">
  <p><b>Name:  </b><%= @record.name %></p>
  <p>Location:  <%= @record.location %></p>
  <p>Category:  <%= @record.category %></p>
  <p>Extra Notes:  <%= @record.notes %></p>
</div>
<br>
<h4><i>If you are the creator of this record, then you will be able to Edit and Delete. </i></h4>
<h3> <a href="/records/<%= @record.slug %>/edit"> Click here to edit this record </h3>
<div class="form">
<form method="post" action="/records/<%= @record.slug %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input id="delete" type="submit" value="Click here to delete this record">
</form>
</div>


